<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VampireiOS.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04F0AC3C247CB5B800209BCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F0AC52247CB5B900209BCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F0AC5D247CB5B900209BCD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
